doctype html
html(lang = "en")
	head
		meta(http-equiv="Content-Type", content="text/html;charset=utf-8")
		link(type="text/css", rel="stylesheet", href="/stylesheets/reset.css")
		link(rel="stylesheet", type="text/css", href="/stylesheets/main.css")
		link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")
		script(type="text/javascript", src="/javascripts/jquery-2.1.4.js")
		script(type="text/javascript", src="/javascripts/js.js")
	//	script(type="text/javascript", src="/javascripts/autoplay.js")
		title #{title}
	body
		#wrap
			#header
				.topbar
					.comWidth2
						ul.leftArea
							li
								h2 凌威实业
							li
								span.sep |
							li
								img(src="/images/xjh.jpg")
						ul.rightArea
							li
								a(href='#') 联系我们
							li
								span.sep |
							li
								a(href='#') 应聘
							li
								span.sep |
							li
								a(href='/') 首页

		.wrap_inner_top
			.container.comWidth
				.category.clearfix#show_list
					ul.category_hot_list
						li.initial_li
							a(href='#')
							img(src='/images/create.jpg')
						li
							a(href='#')
							img(src='/images/office.jpg')
						li
							a(href='#')
							img(src='/images/hot3.jpg')
						li
							a(href='#')
							img(src='/images/hot4.jpg')
						li
							a(href='#')
							img(src='/images/hot5.jpg')
					ul.category_move
						li
							span.cur_move
						li
							span
						li
							span
						li
							span
						li
							span
		.wrap_inner_bottom
			#section1
				#stars
				#stars2
				#stars3
				#intr.comWidth3
					.banner
						h1 公司介绍
					.company_img

					.compnay_intr
						p 反正好劲秋