doctype html
html(lang='zh-CN', xmlns='http://www.w3.org/1999/xhtml', xmlns:og='http://ogp.me/ns#', xmlns:fb='https://www.facebook.com/2008/fbml', itemtype='http://schema.org/WebPage', itemscope='')
  head
    meta(content='IE=11.0000', http-equiv='X-UA-Compatible')
    title 稼华的网站
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta#viewport(name='viewport', content='width=device-width,initial-scale=1.0,user-scalable=yes,minimum-scale=1.0,maximum-scale=3.0')
    script(type='text/javascript', async='', src='http://d26b395fwzu5fz.cloudfront.net/2.1.2/keen.min.js')
    script(async='', src='//www.google-analytics.com/analytics.js')
    script(type='text/javascript', async='', src='preview_files/inside.js')
    script(type='text/javascript', async='', src='preview_files/inside2.js')
    link(href='preview_files/_reset-e86dc20205eb267eb1803edb4281063d0db8db4dde3345771532819dae916332.css', rel='stylesheet', media='screen')
    link(href='preview_files/ui-e675064764e095eae563de114d18e13f220216fc93905934240e2bbc2f467946.css', rel='stylesheet', media='screen')
    link(href='preview_files/main_v4.bcf2a9f4fa649511cb70.bundle.css', rel='stylesheet', media='screen')
    meta(name='keywords')
    meta(name='support-helper', content='{"permalink":"88338833","id":11103941}')
    // CUSTOM_CODE_START
    // CUSTOM_CODE_END
    script(src='preview_files/detectIE-4ddbcca65e3d52fd931dfd192ece97d94f047339554e018759ef8c92e36e4488.js', async='async')
    meta(name='GENERATOR', content='MSHTML 11.00.10570.1001')
    style(type='text/css').
    script(type='text/javascript', charset='utf-8', async='', src='https://static-assets.sxlcdn.com/v4/7.4ce8239b3e806f646d61-site-bundle.js')
    script(type='text/javascript', charset='utf-8', async='', src='https://static-assets.sxlcdn.com/v4/0.4ce8239b3e806f646d61-site-bundle.js')
  body#sites.preview.locale-zh-CN.product-sxl(style='', ontouchstart='', screen_capture_injected='true')
    #s-page-container
      div(data-reactroot='')
        // react-empty: 2
        #s-content.s-variation-rustic.s-font-heading-hei.s-font-title-hei.s-font-body-hei(lang='zh')
          .social-thumbnail
            div(style='display: none;')
              img(src='https://static-assets.sxlcdn.com/images/fb_images/default-sxl.jpg', width='300', height='300')
          div
            style#color-style-tag.
            style#font-style-tag.
              #s-content.s-font-body-hei .s-font-body {
              font-family: "Open Sans", "open_sans", "Lucida Grande", "Verdana", "Pingfang SC", "Pingfang TC", "Hiragino Sans GB", "Microsoft YaHei", serif;
              }
              #s-content.s-font-body-hei .s-font-body:lang(ja) {
              font-family: "Open Sans", "open_sans", "Lucida Grande", "Verdana", "Pingfang SC", "Pingfang TC", "Hiragino Sans GB", "Microsoft YaHei", "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic", serif
              }
              #s-content.s-font-body-hei .s-font-body:lang(zh-cn),
              #s-content.s-font-body-hei .s-font-body:lang(sxl),
              #s-content.s-font-body-hei .s-font-body:lang(zh) {
              font-family: "Open Sans", "open_sans", "Lucida Grande", "Verdana", "Pingfang SC", "Pingfang TC", "Hiragino Sans GB", "Microsoft YaHei", Cardo, STSong, "Songti SC", SimSun, "PingFang SC", "Microsoft YaHei", 微软雅黑, STXihei, 华文细黑, serif
              }
              #s-content.s-font-body-hei .s-font-body:lang(zh-tw) {
              font-family: "Open Sans", "open_sans", "Lucida Grande", "Verdana", "Pingfang SC", "Pingfang TC", "Hiragino Sans GB", "Microsoft YaHei", 'PingFang TC','Microsoft JhengHei',"微軟正黑體",STXihei, serif;
              }
              #s-content.s-font-title-hei .s-font-title {
              font-family: "Open Sans", "open_sans", "Lucida Grande", "Verdana", "Pingfang SC", "Pingfang TC", "Hiragino Sans GB", "Microsoft YaHei", serif;
              }
              #s-content.s-font-title-hei .s-font-title:lang(ja) {
              font-family: "Open Sans", "open_sans", "Lucida Grande", "Verdana", "Pingfang SC", "Pingfang TC", "Hiragino Sans GB", "Microsoft YaHei", "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic", serif
              }
              #s-content.s-font-title-hei .s-font-title:lang(zh-cn),
              #s-content.s-font-title-hei .s-font-title:lang(sxl),
              #s-content.s-font-title-hei .s-font-title:lang(zh) {
              font-family: "Open Sans", "open_sans", "Lucida Grande", "Verdana", "Pingfang SC", "Pingfang TC", "Hiragino Sans GB", "Microsoft YaHei", Cardo, STSong, "Songti SC", SimSun, "PingFang SC", "Microsoft YaHei", 微软雅黑, STXihei, 华文细黑, serif
              }
              #s-content.s-font-title-hei .s-font-title:lang(zh-tw) {
              font-family: "Open Sans", "open_sans", "Lucida Grande", "Verdana", "Pingfang SC", "Pingfang TC", "Hiragino Sans GB", "Microsoft YaHei", 'PingFang TC','Microsoft JhengHei',"微軟正黑體",STXihei, serif;
              }
              #s-content.s-font-heading-hei .s-font-heading {
              font-family: "Open Sans", "open_sans", "Lucida Grande", "Verdana", "Pingfang SC", "Pingfang TC", "Hiragino Sans GB", "Microsoft YaHei", serif;
              }
              #s-content.s-font-heading-hei .s-font-heading:lang(ja) {
              font-family: "Open Sans", "open_sans", "Lucida Grande", "Verdana", "Pingfang SC", "Pingfang TC", "Hiragino Sans GB", "Microsoft YaHei", "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic", serif
              }
              #s-content.s-font-heading-hei .s-font-heading:lang(zh-cn),
              #s-content.s-font-heading-hei .s-font-heading:lang(sxl),
              #s-content.s-font-heading-hei .s-font-heading:lang(zh) {
              font-family: "Open Sans", "open_sans", "Lucida Grande", "Verdana", "Pingfang SC", "Pingfang TC", "Hiragino Sans GB", "Microsoft YaHei", Cardo, STSong, "Songti SC", SimSun, "PingFang SC", "Microsoft YaHei", 微软雅黑, STXihei, 华文细黑, serif
              }
              #s-content.s-font-heading-hei .s-font-heading:lang(zh-tw) {
              font-family: "Open Sans", "open_sans", "Lucida Grande", "Verdana", "Pingfang SC", "Pingfang TC", "Hiragino Sans GB", "Microsoft YaHei", 'PingFang TC','Microsoft JhengHei',"微軟正黑體",STXihei, serif;
              }
          .s-navbar-section
            #header-container.navigator(style='margin-top: -120px;')
              .container.wide-container
                .center.columns.header.sixteen
                  #logo.ib.logo
                    .s-component.s-image
                      span
                        .s-component-content
                          div
                            img.crop-default(src='https://assets.sxlcdn.com/static/icons/flat-circle-160/77.png', alt='', title='', data-description='')
                  .nav
                    ul.s-nav
                      span
                        li
                          a.s-nav-item.selected(href='#it2018')
                            span.s-font-body 凌威IT工作室2018 春季火力全开
                        li
                          a.s-nav-item(href='#_2')
                            span.s-font-body 使命
                        li
                          a.s-nav-item(href='#_3')
                            span.s-font-body 我们的团队
                        li
                          a.s-nav-item(href='#let-us-help-you')
                            span.s-font-body Let us help you
                        li(style='display: none;')
                          a.s-nav-item(href='#_5')
                            span.s-font-body 查询
                        li
                          a.s-nav-item(href='#_6')
                            span.s-font-body 加入凌威吧！
                        li
                          a.s-nav-item(href='#_7')
                            span.s-font-body 凌威实业
                        li
                          a.s-nav-item(href='#_8')
                            span.s-font-body 2018
                      span
                        #loginContainer
                        li#s-ecommerce-nav-shopping-cart-wrapper.s-ecommerce-nav-shopping-cart-wrapper.hidden
                  .power-container
                    #navbar-top-button.power
                      .s-component.s-image
                        span
                          .s-component-content
                            div
                              img.crop-default(src='https://assets.sxlcdn.com/static/icons/flat-circle-160/90.png', alt='', title='', data-description='')
            #header-spacer(style='height: 187px;')
          .s-navbar-container
            .navbar-drawer-bar.strikingly-nav-transition
              .drawer-container
                a.navbar(href='javascript:void(0);')
                  .navbar-icons
                    span
                    span
                    span
                // react-text: 66
                // /react-text
                // react-text: 67
                // /react-text
                #s-mobile-shopping-cart-new.mobile-cart-icon
                .navbar-drawer-title-container
            #navbar-drawer-mask
            .navbar-drawer.strikingly-drawer.bottom-border.strikingly-nav-transition
              ul#nav-drawer-list
                span
                  li
                    a.navbar-drawer-item.s-font-body.selected(href='#1') 凌威IT工作室2018 春季火力全开
                span
                  li
                    a.navbar-drawer-item.s-font-body(href='#2') 使命
                span
                  li
                    a.navbar-drawer-item.s-font-body(href='#3') 我们的团队
                span
                  li
                    a.navbar-drawer-item.s-font-body(href='#4') Let us help you
                span
                  li(style='display: none;')
                    a.navbar-drawer-item.s-font-body(href='#5') 查询
                span
                  li
                    a.navbar-drawer-item.s-font-body(href='#6') 加入凌威吧！
                span
                  li
                    a.navbar-drawer-item.s-font-body(href='#7') 凌威实业
                span
                  li
                    a.navbar-drawer-item.s-font-body(href='#8') 2018
                li#mobileLoginDropdown
                li.logo
                  a.logo(href='https://www.sxl.cn/?ref=logo&permalink=88338833&m=1', target='_blank')
                    img(src='https://static-assets.sxlcdn.com/images/logo-small-2-sxl-grey.png', alt='Strikingly', style='height: 16px; vertical-align: middle; margin-right: 6px;')
                    span.msg 提供技术支持
            .mobile-actions.strikingly-nav-transition(style='height: 172px;')
              ul#mobile-action-list
                // react-empty: 104
          .page-wrapper
            // react-empty: 106
            ul.slides.s-page-1(style='opacity: 1;')
              li#section-f_906ce836-f9cc-44a9-9071-819613b77a96.slide.s-section-1.s-first-visible-section
                .waypoint
                a.section-anchor(style='top: -187px;')
                div
                  // react-text: 112
                  // /react-text
                  .s-bg-video.video-bg.s-bg-light-text.s-bg-overlay.s-new-hero-section.s-section.s-hero-section._animate-background.transition(data-react-style='{"backgroundRepeat":"no-repeat","backgroundSize":"cover","backgroundColor":"transparent","backgroundPosition":"50% 50%"}', style='background-repeat: no-repeat; background-size: cover; background-color: transparent; background-position: 50% 50%; background-image: url("https://uploads.sxlcdn.com/static/backgrounds/animate/Three-Swans.mp4");')
                    .video-bg-wrap(data-video-html="<video src='https://uploads.sxlcdn.com/static/backgrounds/animate/Three-Swans.mp4' autoplay=true muted='true' controls='false' loop='true' width='1280' height='720'/>", style='z-index: 1;')
                      video(src='https://uploads.sxlcdn.com/static/backgrounds/animate/Three-Swans.mp4', autoplay='true', muted='true', controls='false', loop='true', width='1280', height='720', style='position: absolute; top: -70.2303px; left: -50px; height: 831.461px; width: 1480px;')
                    // react-text: 115
                    // /react-text
                    .container.s-rva.s-layout-signupRight(style='z-index: 3;')
                      .s-rva-media.eight.columns.right.empty-media
                        .s-component.s-media
                          span
                      .s-rva-text.eight.columns.right
                        .half-offset-left
                          .s-title-group
                            .s-title.sb-title-right-align
                              .s-component.s-text
                                h1.s-component-content.s-font-title
                                  p(style='font-size:160%; text-align:right') 凌威IT工作室
                                  p(style='font-size:160%; text-align:right') 2018 春季
                                  p(style='font-size:160%; text-align:right') 火力全开
                            .s-subtitle
                              .s-component.s-text
                                h4.s-component-content.s-font-heading
                                  p(style='text-align:right') 商务特效制作
                                  p(style='text-align:right') 重新定义广告
                                  p(style='text-align:right') 让知识更有趣
                                  p(style='text-align:right') 新媒体更实用
                          .empty-button.right-align
                            .s-email-form-container
                              .s-component.s-form.s-signup-form
                                span
                                  .s-component-content
                                    div
                                      .s-email-form-fields-group
                                        .s-email-form-inputs-group.s-email-form-small-fields-2
                                          .s-email-form-field.s-name-field
                                            .s-font-body
                                              label Name
                                              input(type='text')
                                          .s-email-field.s-email-form-field
                                            .s-font-body
                                              label Email
                                              input(type='text')
                                          .s-email-form-field.s-submit-field
                                            a.s-common-button.s-email-form-button.s-font-body
                                              // react-text: 147
                                              // /react-text
                                              // react-text: 148
                                              | Submit
                                              // /react-text
                                              // react-text: 149
                                              // /react-text
                                        .s-email-form-field.s-hp-field(style='display: none;')
                                          label Comment
                                          input(type='text')
                    // react-text: 153
                    // /react-text
                  // react-text: 154
                  // /react-text
              li#section-f_c8cf4e19-de1d-4779-9eec-c537b33d54c8.slide.s-section-2
                .waypoint
                a.section-anchor(style='top: -67px;')
                div
                  // react-text: 159
                  // /react-text
                  .s-new-media-section.s-section.s-rows-section._animate-background.transition.lazyloaded(data-react-style='{}', style='background-attachment: fixed;')
                    .container
                      .columns.sixteen
                        .s-title-group
                          .s-title.has-fresh-line
                            .s-component.s-text
                              h2.s-component-content.s-font-title
                                p
                                  strong 我们的使命
                          .s-subtitle
                            .s-component.s-text.s-animation-page-slide_in
                              h4.s-component-content.s-font-heading
                                p 引领中山市的 IT 文化，创建全国最优秀的网络制作
                      // react-text: 170
                      // /react-text
                      .s-media-alt.s-layout-alt.s-repeatable
                        div
                          .s-repeatable-item(data-sorting-index='0')
                            .clearfix
                              .s-rva
                                .s-item-media-wrapper.five.columns.offset-one.s-left-in-row.s-rva-media
                                  .s-item-media-group
                                    .s-component.s-media.s-animation-page-slide_in
                                      span
                                        .s-component-content
                                          div
                                            .s-ratio-box(style='max-width: 280px; max-height: 280px;')
                                              .s-ratio-fill(style='padding-bottom: 100%;')
                                              div
                                                img.crop-default.lazyloaded(alt='', title='', data-description='', width='280', height='280', src='https://assets.sxlcdn.com/static/icons/delicate/61.png', data-src='https://assets.sxlcdn.com/static/icons/delicate/61.png')
                                .nine.columns.s-right-in-row.s-rva-text
                                  .s-item-text-group.half-offset-left.s-animation-page-slide_in
                                    .s-item-title
                                      .s-component.s-text
                                        h3.s-component-content.s-font-heading
                                          p(style='font-size: 130%;') 心之所向，物之所属
                                    .s-item-subtitle
                                      .s-component.s-text
                                        h6.s-component-content.s-font-body
                                          p 制作时的用心
                                    .s-item-text
                                      .s-component.s-text
                                        .s-component-content.s-font-body
                                          p
                                            strong
                                              | 我们走偏了全广东，选取了各地最独特的人才来搭建我们的团队。广州的程序员，佛山的监制，中山的文案，确保每一次的制作都是独一无二的。只有客户想不到的创意，没有咱们做不到的事物！
                                    div
                          .s-repeatable-item.s-last-row(data-sorting-index='1')
                            .clearfix
                              .s-rva
                                .s-item-media-wrapper.five.columns.offset-one.s-right-in-row.right.s-rva-media
                                  .s-item-media-group
                                    .s-component.s-media.s-animation-page-slide_in-before
                                      span
                                        .s-component-content
                                          div
                                            .s-ratio-box(style='max-width: 280px; max-height: 280px;')
                                              .s-ratio-fill(style='padding-bottom: 100%;')
                                              div
                                                img.lazyload.crop-default(alt='', title='', data-description='', width='280', height='280', src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', data-src='https://assets.sxlcdn.com/static/icons/delicate/59.png')
                                .nine.columns.s-left-in-row.right.s-rva-text
                                  .s-item-text-group.half-offset-right.s-animation-page-slide_in-before
                                    .s-item-title
                                      .s-component.s-text
                                        h3.s-component-content.s-font-heading
                                          p(style='font-size: 130%;') 踏踏实实、勤勤恳恳
                                    .s-item-subtitle
                                      .s-component.s-text
                                        h6.s-component-content.s-font-body
                                          p 工作的态度
                                    .s-item-text
                                      .s-component.s-text
                                        .s-component-content.s-font-body
                                          p
                                            strong 中山唯一一家全日制服务的IT工作室。我们将IT文化带到整个城市，希望把我们的作品推广到全国各地，乃至全世界
                                    div
                      // react-text: 223
                      // /react-text
                  // react-text: 224
                  // /react-text
              li#section-f_46b05bba-c32b-4e45-bf38-eefcb9892fb5.slide.s-section-3
                .waypoint
                a.section-anchor(style='top: -67px;')
                div
                  // react-text: 229
                  // /react-text
                  .s-new-media-section.s-section.s-columns-section._animate-background.transition.lazyloaded(data-react-style='{}')
                    .container
                      .columns.sixteen
                        .s-title-group
                          .s-title.has-fresh-line
                            .s-component.s-text.s-animation-page-slide_in-before
                              h2.s-component-content.s-font-title
                                p 我们的团队
                          .s-subtitle
                            .s-component.s-text.s-animation-page-slide_in-before
                              h4.s-component-content.s-font-heading
                                p 地址：中山市东区体育路5号
                      // react-text: 240
                      // /react-text
                      .s-mh.s-repeatable
                        div
                          .third.columns.no-float.s-repeatable-item.s-last-row(data-sorting-index='0')
                            .clearfix
                              div
                                .s-item-media-wrapper.s-mhi(style='min-height: 320px;')
                                  .s-item-media-group
                                    .s-component.s-media.s-animation-page-slide_in-before
                                      span
                                        .s-component-content
                                          div
                                            .s-ratio-box(style='max-width: 320px; max-height: 320px;')
                                              .s-ratio-fill(style='padding-bottom: 100%;')
                                              div
                                                img.lazyload.crop-circle(alt=' Photo credit: Leonardo Flaiban via Visual hunt / CC BY-ND', title=' Photo credit: Leonardo Flaiban via Visual hunt / CC BY-ND', data-description='', width='320', height='320', src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', data-src='//nzr2ybsda.qnssl.com/images/174813/FksDkakzpRP6r8SR_NpgHd3PJnbf.jpg?imageMogr2/strip/thumbnail/!320x320r/gravity/Center/crop/320x320/quality/90!/interlace/1/format/jpg')
                                div
                                  .s-item-text-group.s-animation-page-slide_in-before
                                    .s-item-title
                                      .s-component.s-text
                                        h3.s-component-content.s-font-heading
                                          p 稼华
                                    .s-item-subtitle
                                      .s-component.s-text
                                        h6.s-component-content.s-font-body
                                          p 创始人
                                    .s-item-text
                                      .s-component.s-text
                                        .s-component-content.s-font-body
                                          p 15年读书生涯
                                    div
                          .third.columns.no-float.s-repeatable-item.s-last-row(data-sorting-index='1')
                            .clearfix
                              div
                                .s-item-media-wrapper.s-mhi(style='min-height: 320px;')
                                  .s-item-media-group
                                    .s-component.s-media.s-animation-page-slide_in-before
                                      span
                                        .s-component-content
                                          div
                                            .s-ratio-box(style='max-width: 320px; max-height: 320px;')
                                              .s-ratio-fill(style='padding-bottom: 100%;')
                                              div
                                                img.lazyload.crop-circle(alt='Photo credit: Robert Bejil Productions via VisualHunt / CC BY', title='Photo credit: Robert Bejil Productions via VisualHunt / CC BY', data-description='', width='320', height='320', src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', data-src='//nzr2ybsda.qnssl.com/images/174813/Fug4CNt4OG_wfV-ycrYxMEDF5VmX.jpg?imageMogr2/strip/thumbnail/!320x320r/gravity/Center/crop/320x320/quality/90!/interlace/1/format/jpg')
                                div
                                  .s-item-text-group.s-animation-page-slide_in-before
                                    .s-item-title
                                      .s-component.s-text
                                        h3.s-component-content.s-font-heading
                                          p 华老师
                                    .s-item-subtitle
                                      .s-component.s-text
                                        h6.s-component-content.s-font-body
                                          p 设计师
                                    .s-item-text
                                      .s-component.s-text
                                        .s-component-content.s-font-body
                                          p 每周玩不同的范儿
                                    div
                          .third.columns.no-float.s-repeatable-item.s-last-row(data-sorting-index='2')
                            .clearfix
                              div
                                .s-item-media-wrapper.s-mhi(style='min-height: 320px;')
                                  .s-item-media-group
                                    .s-component.s-media.s-animation-page-slide_in-before
                                      span
                                        .s-component-content
                                          div
                                            .s-ratio-box(style='max-width: 320px; max-height: 320px;')
                                              .s-ratio-fill(style='padding-bottom: 100%;')
                                              div
                                                img.lazyload.crop-circle(alt='Photo credit: Robert Bejil Productions via VisualHunt / CC BY', title='Photo credit: Robert Bejil Productions via VisualHunt / CC BY', data-description='', width='320', height='320', src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', data-src='//nzr2ybsda.qnssl.com/images/174813/Fhxsv51mcf5BDrCmRr6uMYgK9Q6q.jpg?imageMogr2/strip/thumbnail/!320x320r/gravity/Center/crop/320x320/quality/90!/interlace/1/format/jpg')
                                div
                                  .s-item-text-group.s-animation-page-slide_in-before
                                    .s-item-title
                                      .s-component.s-text
                                        h3.s-component-content.s-font-heading
                                          p 肖生
                                    .s-item-subtitle
                                      .s-component.s-text
                                        h6.s-component-content.s-font-body
                                          p 步道师
                                    .s-item-text
                                      .s-component.s-text
                                        .s-component-content.s-font-body
                                          p 收藏上千块板儿
                                    div
                      // react-text: 318
                      // /react-text
                  // react-text: 319
                  // /react-text
              li#section-f_20d42f78-0e3a-4c34-9e73-14143f0ae70c.slide.s-section-4
                .waypoint
                a.section-anchor(style='top: -67px;')
                div
                  // react-text: 324
                  // /react-text
                  .lazyload.s-bg-image.s-bg-light-text.s-bg-overlay.s-new-hero-section.s-section.s-hero-section._animate-background.transition(data-bg='https://uploads.sxlcdn.com/static/backgrounds/cityscape/164.jpg', data-react-style='{"backgroundRepeat":"no-repeat","backgroundSize":"cover","backgroundColor":"transparent","backgroundPosition":"50% 50%"}', style='background-repeat: no-repeat; background-size: cover; background-color: transparent; background-position: 50% 50%; background-image: url("data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==");')
                    // react-text: 326
                    // /react-text
                    .container.s-rva.s-layout-imagesRight
                      .s-rva-media.eight.columns.right
                        .s-component.s-media.s-animation-page-slide_in-before
                          span
                            .s-component-content
                              div
                                .s-ratio-box(style='max-width: 250px; max-height: 470px;')
                                  .s-ratio-fill(style='padding-bottom: 188%;')
                                  div
                                    img.lazyload.crop-default(alt='', title='', data-description='', width='250', height='470', src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', data-src='//uploads.strikinglycdn.com/static/sections/iphone6-1.png')
                      .s-rva-text.eight.columns.right
                        .half-offset-left
                          .s-title-group
                            .s-title
                              .s-component.s-text.s-animation-page-slide_in-before
                                h2.s-component-content.s-font-title
                                  p(style='font-size: 130%;') Let us help you 
                            .s-subtitle
                              .s-component.s-text.s-animation-page-slide_in-before
                                h4.s-component-content.s-font-heading
                                  p 商务合作联系处
                          .empty-button
                            .s-image-wrapper
                              .s-image-item
                                .s-component.s-image.s-animation-page-slide_in-before
                                  span
                                    .s-component-content
                                      div
                                        img.crop-default(src='//assets.strikingly.com/static/icons/app-badges/apple-ios.png', alt='', title='', data-description='')
                              .s-image-item
                                .s-component.s-image.s-animation-page-slide_in-before
                                  span
                                    .s-component-content
                                      div
                                        img.crop-default(src='//assets.strikingly.com/static/icons/app-badges/android2.png', alt='', title='', data-description='')
                    // react-text: 360
                    // /react-text
                  // react-text: 361
                  // /react-text
              li#section-f_b2b57871-b986-4f4c-80b4-043e6f6c2114.slide.s-section-5
                .waypoint
                a.section-anchor(style='top: -67px;')
                .lazyload.s-bg-gray.s-icons-section.s-section._animate-background.transition(data-react-style='{}')
                  .container
                    .columns.sixteen
                      .s-title-group
                        .s-title.has-fresh-line
                          .s-component.s-text.s-animation-page-slide_in-before
                            h2.s-component-content.s-font-title
                              p 寻找小伙伴
                        .s-subtitle
                          .s-component.s-text.s-animation-page-slide_in-before
                            h4.s-component-content.s-font-heading
                              p 各种方式联系我们
                    div
                      // react-text: 376
                      // /react-text
                      .s-mh.s-repeatable
                        div
                          .three.columns.half-fixed.no-float.s-repeatable-item.s-last-row(data-sorting-index='0')
                            .s-item-media-group.s-mhi(style='min-height: 160px;')
                              .s-component.s-image.s-animation-page-slide_in-before
                                span
                                  .s-component-content
                                    div
                                      .s-ratio-box(style='max-width: 160px; max-height: 160px;')
                                        .s-ratio-fill(style='padding-bottom: 100%;')
                                        div
                                          img.lazyload.crop-default(alt='', title='', data-description='', width='160', height='160', src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', data-src='//uploads.strikinglycdn.com/page/images/icons/email-icon.png')
                            .s-item-text-group.s-animation-page-slide_in-before
                              .s-component.s-text
                                .s-component-content.s-font-body
                                  | 邮箱
                          .three.columns.half-fixed.no-float.s-repeatable-item.s-last-row(data-sorting-index='1')
                            .s-item-media-group.s-mhi(style='min-height: 160px;')
                              .s-component.s-image.s-animation-page-slide_in-before
                                span
                                  .s-component-content
                                    div
                                      .s-ratio-box(style='max-width: 160px; max-height: 160px;')
                                        .s-ratio-fill(style='padding-bottom: 100%;')
                                        div
                                          img.lazyload.crop-default(alt='', title='', data-description='', width='160', height='160', src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', data-src='//uploads.strikinglycdn.com/page/images/icons/phone-icon.png')
                            .s-item-text-group.s-animation-page-slide_in-before
                              .s-component.s-text
                                .s-component-content.s-font-body
                                  | 电话
                          .three.columns.half-fixed.no-float.s-repeatable-item.s-last-row(data-sorting-index='2')
                            .s-item-media-group.s-mhi(style='min-height: 160px;')
                              .s-component.s-image.s-animation-page-slide_in-before
                                span
                                  .s-component-content
                                    div
                                      .s-ratio-box(style='max-width: 160px; max-height: 160px;')
                                        .s-ratio-fill(style='padding-bottom: 100%;')
                                        div
                                          img.lazyload.crop-default(alt='', title='', data-description='', width='160', height='160', src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', data-src='https://uploads.sxlcdn.com/static/icons/black/weibo-icon.png')
                            .s-item-text-group.s-animation-page-slide_in-before
                              .s-component.s-text
                                .s-component-content.s-font-body
                                  p 微博
                          .three.columns.half-fixed.no-float.s-repeatable-item.s-last-row(data-sorting-index='3')
                            .s-item-media-group.s-mhi(style='min-height: 160px;')
                              .s-component.s-image.s-animation-page-slide_in-before
                                span
                                  .s-component-content
                                    div
                                      .s-ratio-box(style='max-width: 160px; max-height: 160px;')
                                        .s-ratio-fill(style='padding-bottom: 100%;')
                                        div
                                          img.lazyload.crop-default(alt='', title='', data-description='', width='160', height='160', src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', data-src='https://uploads.sxlcdn.com/static/icons/black/wechat-icon.png')
                            .s-item-text-group.s-animation-page-slide_in-before
                              .s-component.s-text
                                .s-component-content.s-font-body
                                  p 邮箱
                          .three.columns.half-fixed.no-float.s-repeatable-item.s-last-row(data-sorting-index='4')
                            .s-item-media-group.s-mhi(style='min-height: 160px;')
                              .s-component.s-image.s-animation-page-slide_in-before
                                span
                                  .s-component-content
                                    div
                                      .s-ratio-box(style='max-width: 160px; max-height: 160px;')
                                        .s-ratio-fill(style='padding-bottom: 100%;')
                                        div
                                          img.lazyload.crop-default(alt='', title='', data-description='', width='160', height='160', src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', data-src='https://uploads.sxlcdn.com/page/images/icons/youtube-icon.png')
                            .s-item-text-group.s-animation-page-slide_in-before
                              .s-component.s-text
                                .s-component-content.s-font-body
                                  p YouTube
                      // react-text: 444
                      // /react-text
              li#section-f_8a8b126c-b635-4bed-a2a3-ddc3c4d539bb.slide.s-section-6
                .waypoint
                a.section-anchor(style='top: -67px;')
                .lazyload.s-bg-video.video-bg.s-bg-light-text.s-bg-overlay.s-contact-section.s-section._animate-background.transition(data-bg='https://uploads.sxlcdn.com/static/backgrounds/animate/We-Work-We-Wait.mp4', data-react-style='{"backgroundRepeat":"no-repeat","backgroundSize":"cover","backgroundColor":"transparent","backgroundPosition":"50% 50%"}', style='background-repeat: no-repeat; background-size: cover; background-color: transparent; background-position: 50% 50%; background-image: url("data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==");')
                  .waypoint
                  .container
                    .columns.sixteen
                      .s-title-group
                        .s-title.has-fresh-line
                          .s-component.s-text.s-animation-page-slide_in-before
                            h2.s-component-content.s-font-title
                              p 加入凌威吧！
                        .s-subtitle
                          .s-component.s-text.s-animation-page-slide_in-before
                            h4.s-component-content.s-font-heading
                              p 赶紧联系！让我们一起！激发无限创造力！
                      .s-contact-section-columns.s-three-columns
                        .s-contact-info-column
                          .s-component.s-form.s-contact-info-form.s-animation-page-slide_in-before
                            span
                              .s-component-content
                                .s-contact-info-list
                                  .s-contact-info-item.s-font-body
                                    .s-contact-info-icon
                                      .fa.fa-map-marker
                                    .s-contact-info-text
                                      | 广东省中山市东区体育路5号,翠闲庭
                                  // react-text: 469
                                  // /react-text
                                  .s-contact-info-item.s-font-body.s-show-in-small-screen
                                    a(href='tel:（0760）8833 8833')
                                      .s-contact-info-icon
                                        .entypo-mobile
                                      .s-contact-info-text
                                        | （0760）8833 8833
                                  .s-contact-info-item.s-font-body.s-show-in-large-screen
                                    .s-contact-info-icon
                                      .entypo-mobile
                                    .s-contact-info-text
                                      | （0760）8833 8833
                                  .s-contact-info-item.s-font-body
                                    a(href='mailto:3193036143@qq.com')
                                      .s-contact-info-icon
                                        .entypo-mail
                                      .s-contact-info-text
                                        | 3193036143@
                                        wbr
                                        | qq.com
                        .s-google-maps-column
                          .s-component.s-form.s-google-maps-form.s-animation-page-slide_in-before
                            span
                              .s-component-content
                                iframe#s-map(height='250', scrolling='no', src='/c/apps/baidu_map/%E5%B9%BF%E4%B8%9C%E7%9C%81%E4%B8%AD%E5%B1%B1%E5%B8%82%E4%B8%9C%E5%8C%BA%E4%BD%93%E8%82%B2%E8%B7%AF5%E5%8F%B7%2C%E7%BF%A0%E9%97%B2%E5%BA%AD', style='pointer-events: none; height: 251px; margin-top: 5px; margin-bottom: 5px;')
                        .s-email-column
                          .s-component.s-form.s-email-form.s-animation-page-slide_in-before
                            span
                              .s-component-content
                                div
                                  .s-email-form-fields-group
                                    .s-email-form-inputs-group.s-email-form-small-fields-2
                                      .s-email-form-small-fields-group
                                        .s-email-form-field.s-name-field
                                          .s-font-body
                                            label 名字
                                            input(type='text')
                                        .s-email-field.s-email-form-field
                                          .s-font-body
                                            label 邮箱
                                            input(type='text')
                                      .s-email-form-field.s-message-field
                                        // react-text: 506
                                        // /react-text
                                        .s-font-body
                                          label 留言
                                          textarea(type='text')
                                        // react-text: 510
                                        // /react-text
                                    .s-email-form-field.s-submit-field
                                      a.s-common-button.s-email-form-button.s-font-body
                                        // react-text: 513
                                        // /react-text
                                        // react-text: 514
                                        | 提交
                                        // /react-text
                                        // react-text: 515
                                        // /react-text
                                    .s-email-form-field.s-hp-field(style='display: none;')
                                      label Comment
                                      input(type='text')
              li#section-f_e41d23ee-6814-4b86-a30a-8d0beb45f3fb.slide.s-section-7
                .waypoint
                a.section-anchor(style='top: -67px;')
                div
                  // react-text: 523
                  // /react-text
                  .lazyload.s-new-media-section.s-section.s-media-section._animate-background.transition(data-react-style='{}')
                    .container
                      .columns.sixteen
                        .s-title-group
                          .s-title.has-fresh-line
                            .s-component.s-text.s-animation-page-slide_in-before
                              h2.s-component-content.s-font-title
                                p
                                  b 凌威实业
                          .s-subtitle
                            .s-component.s-text.s-animation-page-slide_in-before
                              h4.s-component-content.s-font-heading
                                p 给专业的人，做专业的事
                      // react-text: 534
                      // /react-text
                      .s-mh.s-layout-normal.s-repeatable
                        div
                          .s-repeatable-item.s-last-row(data-sorting-index='0')
                            .clearfix
                              .fourteen.columns.offset-one.center
                                .s-item-media-wrapper.s-mhi
                                  .s-item-media-group
                                    .s-component.s-media.s-animation-page-slide_in-before
                                      span
                                        .s-component-content
                                          div
                                            .s-ratio-box(style='max-width: 1169px; max-height: 849px;')
                                              .s-ratio-fill(style='padding-bottom: 72.63%;')
                                              div
                                                img.lazyload.crop-default(alt='', title='', data-description='', width='1169', height='849', src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==', data-src='//nzr2ybsda.qnssl.com/images/9/FoL7X685TgL1-3xy2EGoc34BMZZD.png?imageMogr2/strip/thumbnail/1200x9000>/quality/90!/format/png')
                      // react-text: 550
                      // /react-text
                  // react-text: 551
                  // /react-text
              li#section-f_83994992-02aa-4f9b-a371-425bd8d90702.slide.s-section-8
                .waypoint
                a.section-anchor(style='top: -67px;')
                div
                  // react-text: 556
                  // /react-text
                  .lazyload.s-bg-image.s-bg-light-text.s-new-title-section.s-section.s-section-full._animate-background.transition(data-bg='//uploads.strikinglycdn.com/static/backgrounds/abstract/69.jpg', data-react-style='{"backgroundRepeat":"no-repeat","backgroundSize":"cover","backgroundColor":"transparent","backgroundPosition":"50% 50%"}', style='background-repeat: no-repeat; background-size: cover; background-color: transparent; background-position: 50% 50%; background-image: url("data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="); min-height: 0px; padding-top: 335px; padding-bottom: 336px;')
                    // react-text: 558
                    // /react-text
                    .container
                      .sixteen.columns
                        .s-title-group
                          .s-title.has-fresh-line
                            .s-component.s-text.s-animation-page-slide_in-before
                              h2.s-component-content.s-font-title
                                p(style='font-size: 130%;') 2018
                          .s-subtitle
                            .s-component.s-text.s-animation-page-slide_in-before
                              h4.s-component-content.s-font-heading
                                p
                                  em
                                    strong 开启新局面
                    // react-text: 573
                    // /react-text
                  // react-text: 574
                  // /react-text
                .waypoint
            // react-empty: 576
          .navigation-buttons.strikingly-fixed(style='bottom: 20px;')
            span.prev
            span.next
          #strikingly-tooltip-container
          .lazyload.s-bg-gray.s-footer-section.s-section._animate-background(data-react-style='{}', style='opacity: 1;')
            .container.s-layout-horizontal
              .columns.eight.row
                div
                  .waypoint
              .columns.eight.row
                .right-align.s-footer-text
                  .s-component.s-text.s-animation-page-slide_in-before
                    .s-component-content.s-font-body
                      p 凌威IT工作室© 2018

    script(src='preview_files/jquery.min.js', defer='defer')
    script.
      window.jQuery || document.write('<script src="https://static-assets.sxlcdn.com/jquery-8098bd3eea9a8d9d5db1d6947945e4485aa8d691b06d3668d447faba778b8244.js" defer="defer"><\\/script>');
    script(src='https://static-assets.sxlcdn.com/jquery-8098bd3eea9a8d9d5db1d6947945e4485aa8d691b06d3668d447faba778b8244.js', defer='defer')
    // CUSTOM_CODE_START
    // CUSTOM_CODE_END
    script(src='preview_files/i18n-b3ead152d18d499a0eb15d86dcdff201f331f787206fd5a9dc33cfec8eae29c8.js', defer='defer')
    script(src='preview_files/site-dll-329812396902d83fe032ec701a788a6aee06321f54a00368294450b9b002d014.js', defer='defer')
    script(src='preview_files/page-site-bundle-314cf7c509d187647813fcd5a90e3f827d06b42cd8b848de8ccc99f435b79e83.js', defer='defer')
